<html>

  <head>
    <title>Thành Activation Email</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>

  <body
    style='margin: 0; padding: 0; min-width: 100%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA; color: #222222;'
  >
    <div style='max-width:600px;margin:0 auto;padding:20px;background:#f9f9f9;'>
      <h2>Hello {{name}},</h2>
      <p>You requested to reset your password.</p>
      <p>Your reset code is:</p>
      <h1 style='text-align:center;'>{{resetCode}}</h1>
      <p>This code will expire in 5 minutes.</p>
    </div>
    <div style='background-color: #f6f6f6; padding: 24px;'>
      <p style='margin-top: 0; margin-bottom: 24px;'>
        If you have any questions, please don't hesitate to contact us at
        <a
          href='https://www.facebook.com/share/1CQDRcPVwt/?mibextid=wwXIfr'
          target='_blank'
          style='color: #000; text-decoration:none;'
        >Thành
        </a>
      </p>
    </div>
  </body>

</html>